body {
  background-color: #faf7f0;
  font-family: "Nunito", sans-serif;
}

#mainPic {
  -webkit-mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: bottom, top;

  margin-top: 80px;

  bottom: 100px;
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.projectHeading {
  display: flex;
  justify-content: center;
}

.seeMore {
  border: 0;
  background-color: transparent;
  margin-top: auto; /* Push the button to the bottom */
  text-align: center; /* Center the button */
}

.seeMore:hover {
  border-bottom: 1px solid black;

  cursor: pointer;
  color: #ea1c2c;
  transition: all 0.2s ease-in-out;
}

.projectButtons {
  border: 0;
  background-color: transparent;
}

.projectButtons:hover {
  border-bottom: 1px solid black;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #ea1c2c;
}

#projectSelector {
  display: flex;
  justify-content: center;
  align-items: row;
  margin-bottom: 20px;
  align-content: space-between;
  font-size: large;
}

h2 {
  color: #ea1c2c;
  font-weight: 100;
  font-size: 2.5rem;
}

.description p {
  color: black;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.about {
  width: 60%;
  margin: 5% calc(40% / 2);
}

.divAbout p {
  color: black;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

#about {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

.content {
  margin: 100px 0;
}

#mainNavbar {
  height: 60px;
  padding: 0px 15px;
  font-size: 1.5rem;
  font-weight: 100;
}
#projectHeading {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#navLinks {
  display: flex;
  justify-content: flex-end;
}

#mainNavbar .nav-link {
  color: black;
}

#mainNavbar .nav-link:hover {
  color: #ea1c2c;
  cursor: pointer;
}

#mainNavbar .navbar-brand {
  color: black;
  font-weight: 500;
  font-size: 1.5rem;
}

#headingGroup span {
  color: #ea1c2c;
}

#headingGroup h1 {
  font-weight: 300;
  font-size: 4rem;
}

footer {
  background-color: #43423f;
  height: 100px;
  margin: 0;
}

footer p {
  margin-bottom: 0;
}

.navbar.scrolled {
  background-color: #8e8a82d2;
  transition: background 300ms;
}

.address {
  padding-top: 20px;
  padding-left: 40px;
}

label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 60px;
  display: none;
}

#toggle {
  display: none;
}

@media (max-width: 1300px) {
  #headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .navbar.scrolled {
    ul {
      background-color: #8e8a82d2;
      transition: background 300ms;
    }
  }

  ul {
    width: 100%;
    margin: 0;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-brand {
    padding-left: 10px;
  }

  #mainNavbar {
    padding: 0;
  }

  label {
    display: block;
    cursor: pointer;
  }

  #navLinks {
    display: none;
  }

  #toggle:checked + #navLinks {
    display: block;
  }
}
